:root{
    --dark: #1B2A41;
    --red: #BA1200;
    --blue: #011E2A;
    --orange: #F2AF29;
    --grey: #F7F7F2;
    --pink: #FF006E;
    --azure: #3A86FF;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background: var(--dark);
}

header{
    width: 20rem;
    margin: 2rem auto;
    color: var(--red);
}


.taskList{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 1200px;
    margin: 0 auto;
}

.taskList #tasks .task{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--blue);
    height: 3rem;
    border-radius: 1rem;
}

.taskList #tasks .task .contents{
    display: flex;
}

.taskList #tasks .task .actionButtons{
    display: flex;
    background-color: var(--blue);
}

.taskList #tasks .task .actionButtons .editButton{
    background-image: linear-gradient(to right, var(--pink), var(--azure));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    margin: 0 1rem 0 0;
    font-size: 1.25rem;
}

.taskList #tasks .task .actionButtons .editButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

.taskList #tasks .task .actionButtons .editButton:active{
    opacity: 0.6;
}

.taskList #tasks .task .actionButtons .deleteButton{
    background-color: var(--red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    margin: 0 1rem 0 0;
    font-size: 1.25rem;
}

.taskList #tasks .task .actionButtons .deleteButton:hover{
    opacity: 0.8;
    cursor: pointer;
}

.taskList #tasks .task .actionButtons .deleteButton:active{
    opacity: 0.6;
}

.taskList #tasks .task .taskFinish{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 0 1rem 0 0;
    background-color: var(--orange);
}

.taskList #tasks .task .taskFinish:hover{
    opacity: 0.8;
    cursor: pointer;   
}

.taskList #tasks .task .taskFinish:active{
    opacity: 0.6;
}

.taskList #tasks .task .contents input{
    background-color: var(--blue);
    border: none;
    color: var(--grey);
    padding: 0.625rem 0;
    font-size: 1.25rem;
}

.taskList #tasks .task .contents input:focus{
    outline: none;
}

.taskList #tasks .task .contents .taskTextNormal::placeholder{
    border: none;
    color: var(--grey);
    font-size: 1.25rem;
    text-decoration-line: none;
}

.taskList #tasks .task .contents .taskTextCrossed::placeholder{
    text-decoration-line: line-through;
}

/*.taskList #tasks .inputTask{
    margin: 1rem 0;
    background-color: var(--grey);
    background-image: linear-gradient(to right, var(--red), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    border-radius: 1.5rem;
}
*/

.taskList #tasks .taskForm{
    margin: 2rem 0;
    background-color: var(--blue);
    height: 2rem;
    border-radius: 1rem;
}

.taskList #tasks .taskForm input{
    border-radius: 1rem;
    width: 100%;
    background-color: var(--blue);
    color: var(--grey);
    padding: 0.125rem 1rem;
    font-size: 1.25rem;
    font-weight: 400;
}

.taskList #tasks .taskForm input::placeholder{
    background-image: linear-gradient(to right, var(--red), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.taskList #addTask{
    width: 8rem;
    margin: 1rem auto;
}
